[submodule "coresdk/external"]
	path = coresdk/external
	url = https://bitbucket-students.deakin.edu.au/scm/~crrhodes/splashkit-external.git
[submodule "tools/translator"]
	path = tools/translator
	url = https://github.com/splashkit/splashkit-translator
